<div id="big-screen-footer">
    <div id="footerLinks">
        <a href="https://www.linkedin.com/in/pdxgrantc/" class="logoLink">
            <img id="inLogo" src="images/inLogo.png" alt="Linkedin">
        </a>
        <a href="https://github.com/pdxgrantc/" class="logoLink">
            <img  id="gitHubLogo" src="images/githubLogo.png" alt="GitHub">
        </a>
    </div>
    <h3>Grant Conklin | pdxgrantc@gmail.com | 2022</h3>
</div>
<div id="small-screen-footer" class="vertical-flex">
    <h3>Grant Conklin</h3>
    <h3>pdxgrantc@gmail.com</h3>
    <h3 id="footer-year">2022</h3>
</div>