<div id="header" class="flex">
    <a href="/" etc id="title" class="a-nav-button">
        <div >
            <h1>TO-DO</h1>
        </div>
    </a>
    <div id="nav-bar" class="flex">
        <a href="/" etc class="a-nav-button">
            <div id="home" class="nav-button">
                <h2>Home</h2>
            </div>
        </a>
        <a href="/new-item" etc class="a-nav-button">
            <div id="new-item" class="nav-button">
                <h2>Add Item</h2>
            </div>
        </a>
    </div>
</div>