<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/new-item.css">
    <link rel="icon" href="images/favicon.png">
    <script src="scripts/new-item.js"></script>
</head>

<body>
    <div id="full-contents">
        <%- include('partials/header.ejs') %>
            <div id="page-contents">
                <p>404 Page Not Found</p>
            </div>    
        <%- include('partials/footer.ejs') %>
    </div>
</body>

</html>