<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>TO-DO</title>
        <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="page-contents" class="vertical-flex">
        <div id="header" class="flex">
            <%- include('partials/header.ejs') %>
        </div>
        <div id="todo-items" class="grid-container">
            <% JSON.parse(items).forEach(function(item) { %>
                <%- include('./partials/item', {title: item.title, date_created_day: item.date_created_day,
                    date_created_month: item.date_created_month, date_created_year: item.date_created_year,
                    date_due_day: item.date_due_day, date_due_month: item.date_due_month, date_due_year:
                    item.date_due_year, description: item.description}) %>
                    <% }) %>
        </div>
        <div id="footer">
            <%- include('partials/footer.ejs') %>
        </div>
    </div>
</body>

</html>