#small-screen-footer {
    display: none;
}

#small-screen-footer * {
    margin: 5px auto;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

#footer-year {
    margin-top: 8px;
}

#big-screen-footer {
    display: block;
}

#footerLinks {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin-bottom: 1em;
}

.logoLink:hover {
    -webkit-filter: invert(95%);
    filter: invert(95%);
}

.logoLink {
    width: 3vw;
    height: auto;
}

.logoLink img {
    width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    #small-screen-footer {
        display: block;
    }

    #big-screen-footer {
        display: none;
    }
}