/* Main nav bar css */
#nav-bar {
    width: fit-content;
    line-height: 85%;
    font-size: 18px;
    height: fit-content;
}

.a-nav-button {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--button-presed);
    padding: 0px 30px;
}

.a-nav-button:hover {
    background-color: var(--accent-color);
}

.nav-button {
    white-space: nowrap;
}

#title {
    line-height: 22px;
}

#todo-items {
    width: 100%;
}

/* Dropdown menu settings */
#small-screen-nav {
    display: none;
}

.dropdown-button {
    cursor: pointer;
    border: none;
    color: var(--white-color);
    padding: 10px 40px;
    font-weight: 500;
}

.dropdown-button:hover,
.dropdown-button:focus {
    background-color: var(--accent-color);
}

.myDropdown {
    position: relative;
    display: inline-block;
}

#myDropdown a {
    padding: 7px 30px;
    font-size: 27px;
    font-weight: 500;
}

.myDropdown a:hover {
    background-color: var(--accent-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var();
    overflow: auto;
    z-index: 1;
}

.show {
    display: flex;
    flex-direction: column;
}

.small-screen-nav-button {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--button-presed);
    padding: 0px 10px;
}

.small-screen-nav-button:hover {
    background-color: var(--accent-color);
}

.small-screen-nav-button {
    font-size: 25px;
}

@media (max-width: 950px) {
    #nav-bar {
        display: none;
        margin-right: 0px;
    }

    #small-screen-nav {
        display: inline;
    }

    #title {
        display: none;
    }
}