h3 {
    margin: 0px;
}

p {
    margin: 0px;
}

#todo-items {
    margin: 0px auto;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    gap: 15px;
}

.item-title {
    margin: 0px;
}

.dates {
    display: flex;
    flex: direction row;
    flex-wrap: nowrap;
    gap: 9%;
}

.item-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: min-content;
    font-size: 18px;
}

.item-date h3 {
    font-size: 18px;
    margin-right: 10%;
}

.item-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

@media (max-width:800px) {
    #nav-bar {
        margin-right: 0px;
    }
}

/*

#title {
    background-color: var(--button-presed);
    border-radius: var(--border-rad);
    padding: 15px 55px;
    width: fit-content;
}

#title h1 {
    font-size: 3em;
    margin: 0;
}

#page-contents {
    width: 100%;
}

#page-contents div {
    height: fit-content;
}

.metadata {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: start;
    gap: 2%;
    flex-wrap: wrap;
    margin-bottom: -15px;
}

.metadata div * {
    margin-bottom: 0px;
    font-size: 1.3em;
    line-height: 1.5em;
}

*/