:root {
    --main-bg-color: rgb(18, 24, 36);
    --button-presed: rgb(38, 45, 64);
    --white-color: rgb(214, 214, 214);
    --accent-button: rgb(106, 105, 245);
    --accent-button-presed: rgb(52, 51, 112);
    --accent-color: rgb(71, 82, 102);
    --gap-width: 20px;
    --horizontal-gap-width: 20px;
    --vertical-gap-width: 35px;
    --border-rad: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--white-color);
    min-width: 400px;
}

#page-contents {
    margin: 50px auto;
    width: 70%;
    gap: var(--vertical-gap-width);
}

#header {
    width: 100%;
    margin: auto;
}

#nav-bar {
    width: fit-content;
    line-height: 85%;
    font-size: 18px;
    height: fit-content;
}

.a-nav-button {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--button-presed);
    border-radius: var(--border-rad);
    padding: 0px 30px;
}

.a-nav-button:hover {
    background-color: var(--accent-color);
}

.nav-button {
    white-space: nowrap;
}

#title {
    line-height: 22px;
}

#todo-items {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

#footer {
    font-size: .85em;
    text-align: center;
}

/* Dropdown menu settings */

#small-screen-nav {
    display: none;
}

.dropdown-button {
    cursor: pointer;
    border: none;
    color: var(--white-color);
}

.dropdown-button:hover, .dropdown-button:focus {
    background-color: var(--accent-color);
}

.myDropdown {
    position: relative;
    display: inline-block;
}

.myDropdown a:hover {
    background-color: var(--accent-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var();
    overflow: auto;
    z-index: 1;
}

.show {
    display: block;
}

@media (max-width: 1350px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 950px) {
    #nav-bar {
        display: none;
        margin-right: 0px;
    }

    #small-screen-nav {
        display: inline;
    }

    #header {
        width: 100%;
        margin: auto;
        margin-bottom: 1vh;
    }

    #title {
        display: none;
    }

    #full-contents {
        width: 90%;
        margin: 50px auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    #header h1 {
        margin: auto;
        text-align: center;
    }

    #footer {
        font-size: .7em;
    }
}