:root {
    --main-bg-color: rgb(18, 24, 36);
    --button-presed: rgb(38, 45, 64);
    --white-color: rgb(214, 214, 214);
    --accent-button: rgb(106, 105, 245);
    --accent-button-presed: rgb(52, 51, 112);
    --accent-text: rgb(71, 82, 102);
}